*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{ 
  background-color:darkolivegreen
}

.container_header{
  max-width:1920px;
  min-width: 320px;
  width: 100%;
  margin:auto;
}

.container_header--photo{
  width: 8vw;
  margin-top: 2vh;
  margin-left:2vw;
}

/* @media (min-width:1920px) and (max-width:2556px){
  .container_header--photo{
    width: 12vw;
    margin-left:45vw;
  }
} */



.container_menu--list{
  width: 100%;
  border-top:solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.container_menu--list li{
  display:inline-block;
  text-align: center;
  width:20vw;
  font-size:2rem;
  margin-left: 3vw;
}

.container_menu--list li:hover{
  color:red;
  cursor:pointer;
  font-weight: bold;
  transition: 2s ease-in-out;
}

.container_main{
  max-width:1920px;
  min-width: 320px;
  width: 100%;
  margin:auto;
  margin-top:2em;
}

.container_main--subtitle{
  text-align: center;
  border-bottom:dashed 1px;
}

.container_main--paragraph{
  text-align: left;
  font-size:1.5rem;
  margin-left:6.5em;
  width:80%;

}

@media (max-width:500px){
  .container_header--photo{
    width: 12vw;
    margin-left:45vw;
  }
}

@media (max-width: 1024px)  {
 .container_menu--list li{
    font-size:1rem;
  }
  .container_main--paragraph{
    text-align: center;
    margin:auto;
  }
}

